body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: max-content;

    header {
        grid-column: 1/6;
        grid-row: 1;
    }
    
    menu {
        grid-column: 1;
        grid-row: 1/4;
    }
    
    main {
        grid-column: 2/6;
        grid-row: 2;
    }
    
    footer {
        grid-column: 2/6;
        grid-row: 3;
    }
}

@media (max-width: 576px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
    
        header {
            grid-column: 1;
            grid-row: 1;
        }
        
        menu {
            grid-column: 1;
            grid-row: 2;
        }
        
        main {
            grid-column: 1;
            grid-row: 3;
        }
        
        footer {
            grid-column: 1;
            grid-row: 4;
        }
    }
}